# Ignore node_modules (already included when installing dependencies)
node_modules/

# Ignore test directories and files
tests/
*.test.js
*.spec.js

# Ignore development configuration files
.vscode/
.idea/

# Ignore build files and logs
/build/
/*.log

# Ignore local environment variables
.env

# Ignore git and npm configuration files
.git/
.npmrc

